services:

  coordinator:
    build:
      context: .
      dockerfile: coordinator/coordinator.dockerfile
    image: dev/styx-coordinator:latest
    ports:
      - "8886:8888"
      - "8000:8000"
    env_file:
      - env/minio.env
    environment:
      - KAFKA_URL=kafka1:19092
      - HEARTBEAT_LIMIT=5000
      - HEARTBEAT_CHECK_INTERVAL=500

  prometheus:
    image: prom/prometheus:v3.2.1
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"

  grafana:
    image: grafana/grafana:11.5.2-ubuntu
    ports:
      - "3001:3000"
    environment:
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin  # Optional: Grant Admin rights to anonymous users
      - GF_AUTH_DISABLE_LOGIN_FORM=true   # Optional: Hide the login form
    volumes:
      - grafana_data:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning  # Auto-config
      - ./grafana/dashboards:/etc/grafana/dashboards      # Load dashboards

  worker:
    build:
      context: .
      dockerfile: worker/worker.dockerfile
    image: dev/styx:latest
    environment:
      - INGRESS_TYPE=KAFKA
      - KAFKA_URL=kafka1:19092
      - DISCOVERY_HOST=coordinator
      - DISCOVERY_PORT=8888
    env_file:
      - env/minio.env
    deploy:
      resources:
        limits:
          cpus: '1'
        reservations:
          cpus: '1'

volumes:
  grafana_data:
