setuptools==80.10.1
# STYX
# networking service
uvloop==0.22.1
msgspec==0.20.0
cloudpickle==3.1.2
cityhash==0.4.10
zstandard==0.25.0
# monitoring service
prometheus-client==0.24.1
psutil==7.2.1
# Kafka
aiokafka==0.13.0
confluent-kafka==2.13.0
# snapshots
minio==7.2.20
# deathstar
geopy
# shopping cart demo
sanic==25.12.0
# aiohttp==3.11.18
locust==2.43.1
# Plots and demo
pandas==3.0.0
tqdm==4.67.1
numpy==2.4.1
scipy==1.17.0
matplotlib==3.10.8
# docs
mkdocs-material==9.7.1
# tests
pytest==9.0.2
ruff==0.14.14