# STYX
# networking service
uvloop==0.21.0
msgspec==0.19.0
cloudpickle==3.1.1
cityhash==0.4.8
# monitoring service
prometheus-client==0.21.1
psutil==7.0.0
# Kafka
aiokafka==0.12.0
confluent-kafka==2.8.0
# snapshots
minio==7.2.15
# deathstar
geopy
# shopping cart demo
sanic==24.12.0
aiohttp==3.11.12
locust==2.32.9
# Plots and demo
pandas==2.2.3
tqdm==4.67.1
numpy==2.2.3
scipy==1.15.2
matplotlib==3.10.0