setuptools==80.9.0
# networking service
uvloop==0.22.1
msgspec==0.20.0
cloudpickle==3.1.2
cityhash==0.4.10
zstandard==0.25.0
# monitoring service
prometheus-client==0.23.1
# kafka
confluent-kafka==2.12.2
# snapshots
minio==7.2.20
# deathstar
geopy