# networking service
uvloop==0.21.0
msgspec==0.19.0
cloudpickle==3.1.1
cityhash==0.4.8
# monitoring service
prometheus-client==0.21.1
# kafka
confluent-kafka==2.8.0
# snapshots
minio==7.2.15
# deathstar
geopy