setuptools==80.10.1
# networking service
uvloop==0.22.1
msgspec==0.20.0
cloudpickle==3.1.2
cityhash==0.4.10
zstandard==0.25.0
# monitoring
psutil==7.2.1
# Kafka
aiokafka==0.13.0
# snapshots
minio==7.2.20
# deathstar
geopy
